@import "./bootstrap-override";

.w-custom-1 {
  width: 400px;
}

.w-custom-2 {
  width: 200px;
}

* {
  box-sizing: border-box;
}
.bg-black {
  background-color: black;
}
.spotify-bg {
  background-image: linear-gradient(#212121, #121212);
}
