@import "./bootstrap-override";

.w-custom-1 {
  width: 400px;
}

.w-custom-2 {
  width: 200px;
}

/* * {
  box-sizing: border-box;
} */
.bg-black {
  background-color: black;
}
.spotify-bg {
  background-image: linear-gradient(#212121, #121212);
}
main {
  height: calc(100vh - 80px);
  overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spotify-green-bg {
  font-weight: bold;
  color: black;
  background-color: #1ed760;
}

.spotify-green-bg:hover {
  background-color: #22ad53;
}
.btn-save {
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.btn-save:hover {
  color: black;
  background-color: rgb(144, 144, 144);
}
.bg-banner {
  background: rgb(0, 0, 0);
  background: linear-gradient(10deg, rgba(0, 0, 0, 1) 0%, rgba(32, 32, 32, 1) 100%);
}
.btn-black {
  background-color: black;
  opacity: 75%;
}
.btn-black:hover {
  background-color: rgb(23, 23, 23);
  opacity: 75%;
}
.col > div {
  cursor: pointer;
}

.text-spotify-green {
  color: #1ed760;
}
* {
  box-sizing: border-box;
}
#artistBack {
  background-image: url("../../imgs/main/image-12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.song:hover {
  background-color: #2a2929;
  border-radius: 5px;
}

.custom-fixed {
  top: 150px;
  right: 10px;
}
.bg-spotify-gray {
  background-color: #2c2c2c;
}
body {
  font-family: "Circular";
}
.zoom:hover {
  transform: scale(1.1);
  z-index: 100;
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.461);
}

.line-height-1 {
  line-height: 3.75rem;
}

.slider {
  accent-color: white;
}

.slider:hover {
  accent-color: #1ed760;
}

.audio-container {
  text-align: center;
}

.progress-container {
  position: relative;
  width: 350px;
  height: 6px;
  padding-bottom: 10px;
  background-color: #2c2c2c;
  border-radius: 5px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  width: 0;
}

#footerSong {
  overflow-x: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
}
#songTitle {
  animation: stage_animation 10s linear infinite;
  display: inline-block;
}

#navbarContainer {
  width: 18%;
}

@keyframes stage_animation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-75%, 0, 0);
  }
}

@media screen and (max-width: 795px) {
  #footer3 button {
    display: none;
  }
  #footer2 button {
    display: none;
  }
  #footer2 #playPauseBtn {
    display: block;
  }
  span {
    display: none;
  }
  #navbarContainer {
    width: 6%;
  }
}
@media screen and (max-width: 768px) {
  .cardLike4 {
    display: none;
  }
  #navbarContainer {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #navbarMobile {
    display: none !important;
  }
}
@media screen and (max-width: 745px) {
  #footerImg {
    display: none;
  }
  #footerSong {
    width: 50%;
  }
  .progress-container {
    width: 100vw;
  }
  #footerTwoBtn {
    margin: 10px 0;
  }
  input[type="range"] {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  #aside {
    display: none;
  }
}

@media screen and (min-width: 583px) {
  #currentAlbum {
    display: flex;
    flex-direction: row !important;
    align-items: end;
  }
}

@media screen and (min-width: 576px) {
  .threeDot {
    display: none !important;
  }
  .tabTitleMob {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  #ads {
    display: none !important;
  }
  #footer3 input {
    display: none !important;
  }
  .cardLike2,
  .cardLike3 {
    display: none;
  }
  .eyeViews {
    display: none !important;
  }
  .timeSong {
    display: none !important;
  }
  #trackLike {
    display: none !important;
  }
  .tabTitle {
    display: none;
  }
  main {
    height: 100%;
    overflow-y: auto;
  }
}
@media screen and (max-width: 338px) {
  #roundedImg {
    display: none !important;
  }
}
.custom-card-bg {
  background-color: #141618;
}

.custom-card-bg:hover {
  background-color: rgba(50, 56, 61, 0.6862745098);
}

#sidePlaylists > p {
  overflow-x: hidden;
  margin-bottom: 0.5rem;
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    color: white;
  }
}
